body{
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
    overflow-x: hidden;
    position: relative;
}
.header{
    max-height: 100px;
    height: 100%;
}
.head-element{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100%;
    gap: 10px;
}
.logo{
    align-items: center;
    max-width: 80px;
    width: 100%;
}
.logo-img{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    overflow: hidden;
}
.menu-items{
    display: inline-flex;
    list-style-type: none;
    gap:10px ;
    overflow: hidden;
}
.menu-items li a{
    text-decoration: none;
    color: rgb(243, 242, 242);
    /* padding: 10px; */
}
.item:hover{
    font-weight: bolder;
    transition: 0.3s;
}
.head{
    background-image: linear-gradient(rgba(0, 0, 0, 0.662),rgba(44, 40, 40, 0.758)),url(../images/bg-img.jpg);
    display: flex;
    flex-direction: column;
}
.name-text{
    font-weight: bolder;
    font-size: larger;
    margin-left: 40px;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.man-img{
    height: 300px;
    margin-left: -900px;
    z-index: 1;
    padding: 10px 0 10px 0;
}
.bio{
    margin-top: -200px;
    border: 2px white double;
    margin-left: 120px;
    width: 750px;
}
.bio-text{
    font-size: medium;
    font-weight: bolder;
}
.location-text{
    font-weight: bolder;
    color: aliceblue;
    margin-bottom: 110px;
    font-size: 14px;
    margin-left: 120px;
}
.mid{
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 10px;
  padding: 10px;
}
#gallery{
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      position: relative;
      padding: 10px;
    }

    .box {
      overflow: hidden;
      border-radius: 20px;
      width: 80%;
      max-width: 800px;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }

    .img {
      width: 100%;
      height: auto;
      transition: transform 2s ease;
    }

    .box:hover .img {
      transform: scale(1.2); 
      cursor: pointer;;
    }
    .moving-box {
        width: 10px;
        height: 10px;
        position: absolute;
        animation: moveBox 8s linear infinite;
}
@keyframes moveBox {
  0% {
    top: 0;
    left: 0;
    background-color: red;
  }
  25% {
    top: 0;
    left: calc(100% - 10px);
    background-color: rgb(0, 255, 55);
  }
  50% {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
    background-color: rgb(0, 255, 234);
  }
  75% {
    top: calc(100% - 10px);
    left: 0;
    background-color: rgb(128, 0, 255);
  }
  100% {
    top: 0;
    left: 0;background-color: red;
  }
}
.list{
  display: flex;
  gap: 20px;
  padding: 20px;
}
.list .list-info{
  list-style: none;
}
.ls-info-items{
  border-left: 5px solid red;
  margin-bottom: 10px;
}
.ls-info-items1{
  border-left: 5px solid green;
  margin-bottom: 10px;
}
.my-img{
  height: 200px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .head{
    background-image: linear-gradient(rgba(0, 0, 0, 0.662),rgba(44, 40, 40, 0.758)),url(../images/bg-img.jpg);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  
.head-element{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100%;
    gap: 10px;
    margin-left: -30px;
}
.man-img{
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 177px;
}
.name {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.location-text{
    margin-left: -22px;
    font-size: 14px;
}
.bio{
    margin-left: 6px;
    width: 300px;
}
.bio-text{
    font-size: 8px;
    font-weight: bold;
}
#gallery {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 10px;
    flex-direction: column;
}
.box{
  width: 50%;
}
.list{
  flex-direction: column-reverse;
  align-items: center;
}
.my-img{
  height: auto; 
  padding:0 30px 0 30px;
  width: 200px;
}
}
.bgli1:hover{
  background-image: url("../images/2.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bgli2:hover{
  background-image: url("../images/1.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}
.bgli1, .bgli2{
  padding: 10px;
}

canvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      pointer-events: none; /* क्लिक block होणार नाही */
      z-index: 0;
    }

footer {
  background-image: linear-gradient(127deg, #151415 0%, #131214 91%);
  padding-top: 30px;
}

footer .social {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}

footer .social li {
  margin: 0px 10px;
  display: inline-block;
}

footer .social li a {
  color: #ffffff;
   text-align: center;
  background-color: #000000;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: #fe0000;
  color: #fff;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(250,250,250,0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  footer .text {
    margin-bottom: 30px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}
